__pycache__
cli copy.py 
monke.py
stats.ipynb
Symptom_pattern_Analysis_Results_20250708_000403.png
Symptom_pattern_Analysis_Results_20250708_011423.png
Symptom_pattern_Analysis_Results_20250708_131505.png
Symptom_pattern_Analysis_Results_20250709_145221.
dump